body {
    background-color:grey;
}

/* Mobile */
@media (min-width:320px) {

.page-container {
    width: 100%;
    background-color:white;
}

.mc-form {
    width:75%;
}

}

/* Tablet */
@media (min-width:641px) {

}

/* Desktop */
@media (min-width:1025px) {

}