body {
    background-color:grey;
}

/* Mobile */
@media (min-width:320px) {

    .info-images {
        width:100%;
        background:white;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:5% 0% 5% 0%;
    }

    .image {
        width:50%;
    }

    .image-divider {
        width:75%;
        border:1px solid grey;
        margin-top:5%;
        margin-bottom:5%;
    }

}

/* Tablet */
@media (min-width:641px) {

}

/* Desktop */
@media (min-width:1025px) {

}